html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background: #f0f8fb;
}

@keyframes shake {
  0%{
    transform: scale(1.04)
  }
  25%{
    transform: scale(0.96)
  }
  50% {
    transform: scale(1.02)
  }
  75% {
    transform: scale(0.98)
  }
  100%{
    transform: scale(1)
  }
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.game-life {
  width: 200px;
}
.life-txt {
  font-family: Arial;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #0d96c6;
}
.life-count {
  margin-right: 10px;
}
.life-cup {
  position: relative;
  width: 150px;
  height: 300px;
  margin: 20px auto 0;
  border: 1px solid #0cf;
  border-radius: 0 0 20px 20px;
  border-top: none;
  overflow: hidden;
}
#life-water {
  position: absolute;
  bottom: 0;
  width: 150px;
  height: 90px;
  background: #6cf;
  border-radius: 0 0 20px 20px;
}

.game-board {
  position: relative;
  width: 600px;
  height: 600px;
  padding: 10px;
  overflow: hidden;
  background: #b8e4f8;
  box-shadow: 0px 0px 20px #37c6f5;
}
.water-drop-box {
  float: left;
  width: 80px;
  height: 80px;
  border: 10px solid #c8e7f6;
  border-radius: 20px;
  background: #b8e2f6;
  box-shadow: -2px -2px 5px #37c6f5;
}
.water-drop {
  width: 80px;
  height: 80px;
  cursor: pointer;
}
.water-drop:hover {
  animation: shake .8s 1 ease-in;
  transform-origin: top left;
}
.water-bullet {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url('/assets/images/bullet.png') no-repeat;
  background-size: cover;
}
.water-bullet.left {
  transform: rotate(0deg);
}
.water-bullet.right {
  transform: rotate(180deg);
}
.water-bullet.top {
  transform: rotate(90deg);
}
.water-bullet.bottom {
  transform: rotate(-90deg);
}
